.logo-container {
  margin-top: 5%;
}

.about-container {
  padding: 50px 75px;
}

.about-text {
  display: block;
  margin: auto;
  text-align: justify;
  width: 420px;
  color: #222222;
}


.start-button {
  border-radius: 10px;
  font-size: 30px;
  background-color: #f55440;
  box-shadow: 2px 3px #222222;
}


/*
#f55440

#222222

green #6FF567

yellow #F4FF5E

tan #E6C55C

orangeish #FFA44F

red #F55440
*/