.logo-container {
  margin-top: 20%;
}

.about-container {
  padding: 10px 75px;
}

.about-text {
  display: block;
  margin: auto;
  text-align: justify;
  width: 420px;
  color: #222222;
}

.start-button {
  
    height: 6vh;
    width: 15vh;
    min-height: max-content;
    min-width: max-content;
    color: rgb(76, 60, 55);
    background: #dad299; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #6FF567,
      #F4FF5E
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #6FF567,
      #F4FF5E
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 12px;
    font-size: 1.2rem;
    transition: ease-in-out 0.6s 0.1s;
    font-weight: 600;
    margin-bottom: 20px;
    min-height: 15px;
  }
  .start-button:hover {
    box-shadow: 0 12px 16px 0
        rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
  
  @media (min-width: 992px) {
    .start-button {
      height: 3vh;
      width: 7.5vh;
    }
  }


/*
#f55440

#222222

green #6FF567

yellow #F4FF5E

tan #E6C55C

orangeish #FFA44F

red #F55440
*/