.errorMessage {
    text-align: center;
    margin: 10px auto;
    display: block;
    font-size: 18px;
    color: red;
}

.errorImage {
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 250px;
    height: 250px;
}