.red {
    width: 30px;
    height: 30px;
    background-color: red;
    cursor: pointer;
    border-radius: 100%;
}
.blue {
    width: 30px;
    height: 30px;
    background-color: blue;
    cursor: pointer;
    border-radius: 100%;
}
.green {
    width: 30px;
    height: 30px;
    background-color: green;
    cursor: pointer;
    border-radius: 100%;
}
.black {
    width: 30px;
    height: 30px;
    background-color: black;
    cursor: pointer;
    border-radius: 100%;
}
.purple {
    width: 30px;
    height: 30px;
    background-color: purple;
    cursor: pointer;
    border-radius: 100%;
}
.yellow {
    width: 30px;
    height: 30px;
    background-color: gold;
    cursor: pointer;
    border-radius: 100%;
}
.orange {
    width: 30px;
    height: 30px;
    background-color: orange;
    cursor: pointer;
    border-radius: 100%;
}
.brown {
    width: 30px;
    height: 30px;
    background-color: brown;
    cursor: pointer;
    border-radius: 100%;
}
.eraser {
    width: 30px;
    height: 30px;
    background-color: white;
    cursor: pointer;
    border-radius: 100%;
}

.color-buttons {
    display: flex;
    flex-direction: row;
    margin: 2% auto;
    display: block;
}
