@media screen and (min-width: 300px) {
  .red {
    width: 30px;
    height: 30px;
    background-color: red;
    box-shadow: 2px 3px 3px #222222;
    cursor: pointer;
    border-radius: 100%;
    border: 0.75px solid black;
    margin-left: 2px;
    margin-right: 2px;
  }
  .blue {
    width: 30px;
    height: 30px;
    background-color: blue;
    box-shadow: 2px 3px 3px #222222;
    cursor: pointer;
    border-radius: 100%;
    border: 0.75px solid black;
    margin-left: 2px;
    margin-right: 2px;
  }
  .green {
    width: 30px;
    height: 30px;
    background-color: green;
    box-shadow: 2px 3px 3px #222222;
    cursor: pointer;
    border-radius: 100%;
    border: 0.75px solid black;
    margin-left: 2px;
    margin-right: 2px;
  }
  .black {
    width: 30px;
    height: 30px;
    background-color: black;
    box-shadow: 2px 3px 3px #222222;
    cursor: pointer;
    border-radius: 100%;
    border: 0.75px solid black;
    margin-right: 2px;
  }
  .purple {
    width: 30px;
    height: 30px;
    background-color: purple;
    box-shadow: 2px 3px 3px #222222;
    cursor: pointer;
    border-radius: 100%;
    border: 0.75px solid black;
    margin-left: 2px;
    margin-right: 2px;
  }
  .yellow {
    width: 30px;
    height: 30px;
    background-color: gold;
    box-shadow: 2px 3px 3px #222222;
    cursor: pointer;
    border-radius: 100%;
    border: 0.75px solid black;
    margin-left: 2px;
    margin-right: 2px;
  }
  .orange {
    width: 30px;
    height: 30px;
    background-color: orange;
    box-shadow: 2px 3px 3px #222222;
    cursor: pointer;
    border-radius: 100%;
    border: 0.75px solid black;
    margin-left: 2px;
    margin-right: 2px;
  }
  .brown {
    width: 30px;
    height: 30px;
    background-color: brown;
    box-shadow: 2px 3px 3px #222222;
    cursor: pointer;
    border-radius: 100%;
    border: 0.75px solid black;
    margin-left: 2px;
    margin-right: 2px;
  }
  .eraser {
    width: 30px;
    height: 30px;
    background-color: white;
    box-shadow: 2px 3px 3px #222222;
    cursor: pointer;
    border-radius: 100%;
    border: 0.75px solid black;
    margin-left: 2px;
  }

  .color-buttons {
    display: flex;
    flex-direction: row;
    display: block;
    margin: 20px auto;
  }
}

@media screen and (min-width: 280px) {
  .color-buttons {
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
    width: 97%;
    padding-top: 5px;
    background-color: white;
  }

  .color-header {
    margin-top: 5px;
    margin-bottom: 1px;
    font-size: 16px;
  }
}

@media screen and (min-width: 350px) {
  .color-buttons {
    width: 85%;
  }

  .color-header {
    margin-top: 5px;
    margin-bottom: 1px;
    font-size: 18px;
  }
}

@media screen and (min-width: 500px) {
  .color-buttons {
    width: 60%;
  }

  .color-header {
    margin-top: 5px;
    margin-bottom: 1px;
    font-size: 20px;
  }
}

@media screen and (min-width: 700px) {
  .color-buttons {
    width: 47%;
  }

  .color-header {
    margin-top: 10px;
    margin-bottom: 1px;
    font-size: 20px;
  }
}

@media screen and (min-width: 900px) {
  .color-buttons {
    width: 37%;
  }

  .color-header {
    margin-top: 15px;
    margin-bottom: -10px;
    font-size: 22px;
  }
}
@media screen and (min-width: 1000px) {
  .color-buttons {
    width: 25%;
  }
}
