@media screen and (min-width: 300px) {
  .red {
    width: 30px;
    height: 30px;
    background-color: red;
    box-shadow: 2px 3px 3px #222222;
    cursor: pointer;
    border-radius: 100%;
    border: 0.75px solid black;
    margin-left: 2px;
    margin-right: 2px;
  }
  .blue {
    width: 30px;
    height: 30px;
    background-color: blue;
    box-shadow: 2px 3px 3px #222222;
    cursor: pointer;
    border-radius: 100%;
    border: 0.75px solid black;
    margin-left: 2px;
    margin-right: 2px;
  }
  .green {
    width: 30px;
    height: 30px;
    background-color: green;
    box-shadow: 2px 3px 3px #222222;
    cursor: pointer;
    border-radius: 100%;
    border: 0.75px solid black;
    margin-left: 2px;
    margin-right: 2px;
  }
  .black {
    width: 30px;
    height: 30px;
    background-color: black;
    box-shadow: 2px 3px 3px #222222;
    cursor: pointer;
    border-radius: 100%;
    border: 0.75px solid black;
    margin-right: 2px;
  }
  .purple {
    width: 30px;
    height: 30px;
    background-color: purple;
    box-shadow: 2px 3px 3px #222222;
    cursor: pointer;
    border-radius: 100%;
    border: 0.75px solid black;
    margin-left: 2px;
    margin-right: 2px;
  }
  .yellow {
    width: 30px;
    height: 30px;
    background-color: gold;
    box-shadow: 2px 3px 3px #222222;
    cursor: pointer;
    border-radius: 100%;
    border: 0.75px solid black;
    margin-left: 2px;
    margin-right: 2px;
  }
  .orange {
    width: 30px;
    height: 30px;
    background-color: orange;
    box-shadow: 2px 3px 3px #222222;
    cursor: pointer;
    border-radius: 100%;
    border: 0.75px solid black;
    margin-left: 2px;
    margin-right: 2px;
  }
  .brown {
    width: 30px;
    height: 30px;
    background-color: brown;
    box-shadow: 2px 3px 3px #222222;
    cursor: pointer;
    border-radius: 100%;
    border: 0.75px solid black;
    margin-left: 2px;
    margin-right: 2px;
  }
  .eraser {
    width: 30px;
    height: 30px;
    background-color: white;
    box-shadow: 2px 3px 3px #222222;
    cursor: pointer;
    border-radius: 100%;
    border: 0.75px solid black;
    margin-left: 2px;
  }

  .color-buttons {
    display: flex;
    flex-direction: row;
    display: inline-block;
    padding: 10px;
    background-color: white;
    margin: 20px auto;
    border: 2px solid black;
    border-radius: 10px;
  }

  .color-header {
    margin-bottom: 0;
  }
}
