@font-face {
    font-family: "cf_crayonsregular";
    src: url("../../Fonts/Crayon/cfcrayons-regular-webfont.woff2") format("woff2"),
      url("../../Fonts/Crayon/cfcrayons-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
.guess-input {
    font-size: 26px;
    margin-top: 7%;
}

.submit-guess {
    border-radius: 10px;
    font-size: 22px;
    color:green;
    border: 0.5px solid #222222;
    margin-left: -1%;
    cursor: pointer;
}

.player-ul {
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-left: -3.5%;
    margin-top: 2.2%;
}

li {
    list-style-type: none;
    font-size: 26px;
    margin-top: 1.5%;
}

.player-li1 {
    color: green;
}
.player-li2{
    color: blue;
}
.player-li3{
    color: #f55440;
}
.player-li4{
    color: purple;
}

@media screen and (max-width: 500px) {
    li {
        font-size: 16px;
        padding: 0px 5px;
        margin-right: 25px;
    }

    .guess-input {
        font-size: 20px;
    }

    input {
        width: 30%;
    }
    .submit-guess {
        font-size: 18px;
    }
}

@media screen and (max-width: 350px) {
    li {
        font-size: 14px;
    }

    ul {
        margin: 0 8px;
    }

    .guess-input {
        font-size: 20px;
    }

    input {
        width: 30%;
    }
    .submit-guess {
        font-size: 18px;
    }
}