.header-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 10px auto;
}

h4 {
    margin: 0 30px;
}

.player-prompt {
    margin-top: -2px;
    margin-bottom: 10px;
}

@media screen and (min-width: 280px) {
    h4 {
      font-size: 18px;
    }

    .player-prompt {
        margin-top: 1%;
    }

    .username-display {
        margin-bottom: 3%;
    }

    .header-box {
        margin-bottom: -2%;
    }
  }

  @media screen and (min-width: 400px) {
    .header-box {
        margin-top: 100px;
        margin-bottom: -1%;
    }
  }

  @media screen and (min-width: 550px) {
    .player-prompt {
        margin-top: 2%;
    }

    .header-box {
        margin-top: 2%;
        margin-bottom: -1%;
    }
  }

  @media screen and (min-width: 700px) {
      .header-box {
          margin-bottom: 2%;
      }
  }

  @media screen and (min-width: 800px) {
    .player-prompt {
        margin-top: -2px;
        margin-bottom: 10px;
    }
  }
  
  @media screen and (min-width: 1000px) {
    h4 {
      font-size: 30px;
    } 

  }
