
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #f55440;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b62c1adc;
}

.score {
    font-weight: bold;
}


@media screen and (min-width: 280px) {
    .guess-page-header, .question-mark {
        font-size: 20px;
    }

    .player-li {
        font-size: 15px;
    }

    #chat-input {
        width: 40%;
        font-size: 18px;
    }

    .submit-guess {
        font-size: 15px;
    }

    label {
        font-size: 17px;
        margin-left: -5%;
    }

    .chat-window {
        display: flex;
        flex-direction: column-reverse;
        overflow: auto;
        border: 1px solid #222222;
        border-radius: 5px;
        max-height: 50px;
        margin: 10px 5px;
        text-align: left;
        background-color: #ffffff;
    }

    .chat-li {
        text-align: left;
        font-size: 16px;
    }
    .chat-ul {
        display: block;
        margin-left: -38px;
    }
    
    .guess-input {
        margin-top: 3%;
    }

    .score {
        font-size: 18px;
    }
}

h1 {
    font-size: 18px;
}

.username-display {
    font-size: 16px;
    text-align: left;
    font-weight: bold;
}

@media screen and (min-width: 370px) {
    .chat-ul {
        margin-bottom: 1px;
    }
}

@media screen and (min-width: 400px) {
    .guess-page-header, .question-mark {
        font-size: 22px;
    }

    .player-li {
        font-size: 18px;
    }

    #chat-input {
        width: 40%;
    }

    .submit-guess {
        font-size: 18px;
    }

    label {
        font-size: 20px;
        margin-left: -5%;
    }

    .chat-window {
        max-height: 80px;
        margin: 10px 20px;
    }

    .player-message {
        font-size: 16px;
    }

    .score {
        font-size: 20px;
    }
}

@media screen and (min-width: 600px) {
    .chat-window {
        max-height: 125px;
        margin: 10px 100px;
    }

    .chat-li {
        margin-left: 10px;
        font-size: 18px;
    }

    #chat-input {
        font-size: 18px;
    }

    label {
        font-size: 20px;
    }

    .player-li {
        font-size: 18px;
    }

    .submit-guess {
        font-size: 18px;
    }

    .score {
        font-size: 22px;
    }
}

@media screen and (min-width: 700px) {
    .player-li {
        font-size: 20px;
    }

    label {
        font-size: 22px;
    }
    
    #chat-input {
        font-size: 20px;
    }

    h1 {
        font-size: 20px;
        margin-bottom: 1.5%;
    }
    
    .username-display {
        font-size: 18px;
        margin-left: 0.5%;
    }
}

@media screen and (min-width: 1000px) {
    #chat-input {
        width: 23%;
    }

    .chat-window {
        margin: 15px 20%;
    }

    label {
        margin-left: 0.5%;
    }

    .player-ul {
        margin-top: 0.2%;
        margin-bottom: -2%;
    }

    .player-li {
        font-size: 22px;
    }

    .submit-guess {
        font-size: 20px;
    }

    .score {
        font-size: 26px;
    }

    h1 {
        font-size: 22px;
        margin-bottom: 1.5%;
    }
}

@media screen and (min-width: 1300px) {
    .chat-window {
        margin: 15px 30%;
    }
}
