li {
  list-style-type: none;
}

.player-header {
  font-size: 26px;
}

.player-prompt {
  font-size: 22px;
}

body {
  background-image: url("../../Pictures/paper-background.jpg");
  background-position: center;
  background-position-x: 25%;
}
