.player-li {
  list-style-type: none;
  margin-top: 1.5%;
  font-size: 24px;
}

.player-header {
  font-size: 26px;
}

.player-prompt {
  font-size: 22px;
}

body {
  background-image: url("../../Pictures/paper-background.jpg");
  background-position: center;
  background-position-x: 25%;
}

@media screen and (min-width: 900px) {
    .color-buttons {
        margin-top: 1%;
    }
}