@font-face {
  font-family: "cf_crayonsregular";
  src: url("../../Fonts/Crayon/cfcrayons-regular-webfont.woff2") format("woff2"),
       url("../../Fonts/Crayon/cfcrayons-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url("../../Pictures/paper-background.jpg");
  background-position: center;
  background-position-x: 25%;
  background-position-y: 2%;
}

.rules-container {
  font-weight: 600;
  background-color: white;
  border: 2px solid #3ea6fb;
  border-radius: 10px;
}

.welcome-header {
  margin-top: 15%;
}

.rules-li {
  text-align: left;
  padding-top: 5px;
}

.intro-text {
  font-size: 18px;
}

.start-button {
  margin-top: 1.5%;
  border-radius: 10px;
  font-size: 30px;
  font-family: "cf_crayonsregular", fallback, sans-serif;
  background-color: #f55440;
  box-shadow: 2px 3px #222222;
  padding-left: 40px;
  margin-right: 1.5%;
  font-weight: 600;
}

input {
  border: none;
  border-bottom: 1px solid #222222;
  font-size: 24px;
  width: 175px;
  padding-left: 10px;
  background: none;
  margin-right: 1%;
}

.logo {
  margin-top: 2%;
  max-width: auto;
}

p {
  margin-top: 5%;
  font-size: 22px;
  margin-right: 1.2%;
  font-weight: 600;
}

.error {
  margin-bottom: 2%;
  font-size: 18px;
  padding: 0px 15px;
  color: red;
}

.greeting {
  margin-bottom: -3%;
  font-size: 22px;
}

@media screen and (max-width: 450px) {
  .logo {
    width: 275px;
    margin-top: 15%;
  }

  .error {
    margin-bottom: -2%;
  }

  .greeting {
    margin-bottom: -10%;
    margin-top: 4%;
  }

  p {
    margin-top: 14%;
  }

  .start-button {
    margin-top: 10%;
  }

  input {
    margin-top: -3%;
  }

  .rules-container {
    margin: 20px 15px;
  }

  .welcome-header {
    margin-top: 5%;
  }

  .rules-li {
    margin-left: -30px;
    margin-bottom: 15px;
    margin-right: 3.5px;
  }

  .intro-text {
    margin-top: 3%;
  }
}

@media screen and (min-width: 500px) {
  .rules-li {
    font-size: 18px;
  }

  .rules-container {
    margin: 5% 15px;
  }

  .welcome-header {
    margin-top: 4%;
  }
}

@media screen and (min-width: 800px) {
  .welcome-header {
    font-size: 28px;
    margin-top: 5%;
  }

  .intro-text {
    font-size: 24px;
  }

  .rules-li {
    font-size: 18px;
    margin-right: 1%;
  }
  
  .rules-container {
    margin-bottom: 5%;
  }

  .rules-container {
    margin: 10px 25px;
  }
}

@media screen and (min-width: 1000px) {
  .rules-container {
    margin: 20px 15%;
  }

  .welcome-header {
    margin-top: 2%;
  }

  .intro-text {
    margin-top: 1%;
  }
}