.App {
  text-align: center;
  /* want font style: "Abys" */
}

html {
  font-family: "Comic Sans MS";
}


@media (prefers-reduced-motion: no-preference) {
  .use-class-here {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

