@font-face {
  font-family: "cf_crayonsregular";
  src: url("../../Fonts/Crayon/cfcrayons-regular-webfont.woff2") format("woff2"),
       url("../../Fonts/Crayon/cfcrayons-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
h1 {
  display: block;
  margin-top: 25%;
}
.return-home {
  margin-top: 1.5%;
  border-radius: 10px;
  font-size: 30px;
  font-family: "cf_crayonsregular", fallback, sans-serif;
  background-color: #f55440;
  box-shadow: 2px 3px #222222;
  padding: 10px;
  margin-right: 1.5%;
  font-weight: 600;
  color: black;
}
